.BoxUpload {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.BoxUpload .image-upload {
    display: flex;
    flex-wrap: wrap;
}

.BoxUpload .image-upload label {
    cursor: pointer;
}

.BoxUpload .image-upload label :hover {
    opacity: 0.8;
}

.BoxUpload .image-upload>input {
    display: none;
}

.ImagePreview {
    position: relative;
}

.ImagePreview #uploaded-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.ImagePreview .close-icon {
    background: #000;
    border-radius: 5px;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    cursor: pointer;
}

.ImagePreview .close-icon :hover {
    opacity: 1;
}